// $color-primary: #051937 !default;
// $color-secondary: #fefefe !default;
// $color-font: #34495e !default;
$blue: #2196f3 !default;
$blue-lighten-5: #e3f2fd !default;
$blue-lighten-4: #bbdefb !default;
$blue-lighten-3: #90caf9 !default;
$blue-lighten-2: #64b5f6 !default;
$blue-lighten-1: #42a5f5 !default;
$blue-darken-1: #1e88e5 !default;
$blue-darken-2: #1976d2 !default;
$blue-darken-3: #1565c0 !default;
$blue-darken-4: #0d47a1 !default;

* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  background: url("../assets/pattern.png");
}

input {
  border: 0;
}
i {
  cursor: pointer;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}
.flex-col {
  display: flex;
  flex-flow: column;
}
.w-auto {
  width: auto !important;
}
.mx-3 {
  background: rgba(255, 255, 255, 0.3);
  margin: 0 0.5rem;
  padding: 6px 12px;
  border-radius: 18px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */

  .modal-content {
    color: black;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 30px;
    border: 1px solid #888;
    width: 700px; /* Could be more or less, depending on screen size */
    i {
      padding: 5px;
    }
  }
}

.list {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  min-height: 100px;
  min-width: 400px;

  padding: 40px;
  margin: 60px 90px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 36px;

  .form {
    height: 30px;
    background: white;
    // background: rgba(100, 100, 150, 0.5);
    color: white;
    button {
      width: 30px;
      margin: 0px;
      border: 0px;
    }
    input {
      border-radius: 16px;
      // background: rgba(0, 0, 0, 0.4);
    }
  }
  .list-title {
    display: flex;
    justify-content: space-between;
    // padding: 12px;
    margin-bottom: 20px;
    h2 {
      font-weight: 400;
      line-height: 1.5;
      margin: 0;
    }
    input {
      height: 30px;
      line-height: 30px;
      border-radius: 36px;
      margin-right: 6px;
    }
  }
  .list-item {
    display: flex;
    // color: black;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
  }
  .list-content {
    margin-bottom: 20px;
  }
}

.form {
  display: flex;
  background: white;
  height: 50px;
  width: 80%;

  padding: 6px;
  margin: 20px auto;
  border-radius: 18px;

  input {
    width: 80%;
    margin: 0 8px;
    padding: 0 8px;
    border: 0;
    /* border-radius: 36px; */
  }
  button {
    width: 120px;
    color: white;
    background: #051937;
    border-radius: 36px;
    margin: 6px;
  }
}

.description {
  color: rgba(255, 255, 255, 0.9);
  margin: 20px 0 30px 0;
  padding: 10px;
  font-weight: 500;
}
